.home-container {
    border: 3px  solid ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;  
    animation: changeBg 15s;
    animation-iteration-count: infinite; 
    
}

@keyframes changeBg {
    0%, 100% {background-image: url("../assets/middle.png");}
    25% {background-image: url("../assets/prohib.png");}
    50% {background-image: url("../assets/ren.png");}
    75% {background-image: url("../assets/antiq.png");}
}

.quiz-welcome {
    margin: 20em ;
    /* border: 2px solid black; */
}   

.quiz-enter {
    outline: 0;
}


/* .titleBackground{
    background-color: white;
    color: white;
    height: 150px;
    opacity: 0.2; 
    position: relative;
    bottom: 150px;
    z-index: 2;
    padding: 20px;
} */
