.nav-container {
    background-image:url("../assets/castle.jpg");
    border: 3px solid white;
    height: 100vh;
}

nav {
    margin-top: 13em;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    font-size: small;
    margin-top: 3em;
    /* height: 15em; */
    text-decoration: none;
    list-style: none;
    width: 20em;
    /* border: 1px solid black;
    background: url("../assets/scroll.png");
    background-size: cover; */
}

li :hover {
    font-size: larger;
}

