.card{
    margin-left: 30em;
    /* background-image: url(../assets/papyrus.JPEG); */
    width: 450px;
    min-height: 200px;
    height: min-content;
    /* border-radius: 15px; */
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(146, 118, 118, 0.75);
    display: flex;
    justify-content: space-evenly;
  }